<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    $(function(){
      $("#slides").slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });
    });
  </script>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="page-container">
    <div class="header">
      
      <nav class="navbar container">
      
        <!-- logo and name -->
        <div class="navbar-header navbar">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html" class="navbar-brand">
            <img src="img/logo.png" alt="Shop">Shop
          </a>
        </div><!-- class="navbar-header navbar-center" -->
    
        <div class="navbar-collapse collapse navbar-right">
          <!-- Register or login name -->
          <ul class="nav navbar-nav">
          <% if current_admin %> <!-- change in future to current_user -->
            <li class="active"><%= link_to "Login/Register", root_path %></li>
          <% else %>
            <li class="active"><%= link_to "Login/Register", root_path %></li>
          <% end %>
          </ul>

          <!-- cart info and goods -->
          <ul class="nav navbar-right cart">
            <li class="dropdown">
              <a href="cart.html" class="dropdown-toggle" data-toggle="dropdown"><span>5</span></a>
              <div class="cart-info dropdown-menu">
                <table class="table">
                  <thead></thead>
                  <tbody>
                    <tr>
                      <td class="image"><img alt="IMAGE" class="img-responsive" src="products/dress33.jpg"></td>
                      <td class="name"><a href="project.html">Black Dress</a></td>
                      <td class="quantity">x&nbsp;3</td>
                      <td class="total">$130.00</td>
                      <td class="remove"><img src="image/remove-small.png" alt="Remove" title="Remove"></td>                      
                    </tr>
                    <tr>
                      <td class="image"><img alt="IMAGE" class="img-responsive" src="products/dress11.jpg"></td>
                      <td class="name"><a href="project.html">Blue Dress</a></td>
                      <td class="quantity">x&nbsp;3</td>
                      <td class="total">$230.00</td>
                      <td class="remove"><img src="image/remove-small.png" alt="Remove" title="Remove"></td>                      
                    </tr>
                  </tbody>                  
                </table>
                <div class="cart-total">
                  <table>
                    <tbody>
                      <tr>
                        <td><b>Sub-Total:</b></td>
                        <td>$400.00</td>
                      </tr>
                      <tr>
                        <td><b>Total:</b></td>
                        <td>$400.00</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="checkout"><a href="cart.html" class="ajax_right">View Cart</a> | <a href="checkout.html" class="ajax_right">Checkout</a></div>
                </div>
              </div> 
            </li>
          </ul><!-- nav navbar-right cart -->
             
          <form action="/" class="navbar-form navbar-search navbar-right" role="search">
            <div class="input-group"> 
              <input type="text" name="search" placeholder="Search" class="search-query col-md-2"><button type="submit" class="btn btn-default icon-search"></button> 
            </div>
          </form>
        </div><!-- navbar-collapse collapse -->
      </nav><!-- navbar container -->
    </div><!-- header -->
    
    <div class="container">
      <div id="slides">
        <img src="img/example-slide-1.jpg">
        <img src="img/example-slide-2.jpg">
        <img src="img/example-slide-3.jpg">
        <img src="img/example-slide-4.jpg">
        <a href="#" class="slidesjs-previous slidesjs-navigation">
          <i class="icon-chevron-left icon-large"></i>
        </a>
        <a href="#" class="slidesjs-next slidesjs-navigation">
          <i class="icon-chevron-right icon-large"></i>
        </a>
      </div>
    </div><!-- container 

  <%= yield %>
  
  </div><!-- page-container -->

  
</body>
</html>
