<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>
  <%= csrf_meta_tags %>
  <script>
    $(function(){
      $("#slides").slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });
    });
  </script>
</head>
<body>
  <div class="page-container">
    <div class="header">
      
      <nav class="navbar container">
      
        <!-- logo and name -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">
            <img src="img/logo.png" alt="Shop">Shop
          </a>
        </div><!-- class="navbar-header navbar-center" -->
    
        <div class="navbar-collapse collapse navbar-right">
          <!-- Register or login name -->
          <ul class="nav navbar-nav">
          <% if current_admin %> <!-- change in future to current_user -->
            <li class="active"><%= link_to "Login/Register", root_path %></li>
          <% else %>
            <li class="active"><%= link_to "Login/Register", root_path %></li>
          <% end %>
          </ul>

        </div><!-- navbar-collapse collapse -->
      </nav><!-- navbar container -->
    </div><!-- header -->
    
  <div class="container">
    <div class="row"></div>
    <%= yield %>
  </div>
  
  
  </div><!-- page-container -->

  
</body>
</html>
